<section class="feed-card mdl-shadow--2dp">
  <img class="avatar" src="{{avatarSrc}}"/>

  <div class="card-content">
    <div class="card-header">
      <div class="name">{{name}}</div>
      <div class="text">{{text}}</div>
    </div>
    <div class="actions">
      <a href="/#/" class="mdl-button"><i class="material-icons">thumb_up</i></a>
      <a href="/#/" class="mdl-button"><i class="material-icons">comment</i></a>
      <a href="/#/" class="mdl-button" id="share{{githubber.id}}"><i class="material-icons">share</i></a>
    </div>
  </div>

</section>
