<div class="clearfix mdl-layout__tab-panel is-active" id="feed" ng-controller="MainCtrl">

  <span ng-repeat="post in $storage.posts">
    <feed-story name="{{post.author.name}}" avatar-src="images/jon.jpeg" story-id="{{post.id}}" text="{{post.text}}">
    </feed-story>
  </span>

  <span ng-repeat="githubber in $storage.githubbers">
    <feed-story name="{{githubber.login}}" avatar-src="{{githubber.avatar_url}}" story-id="{{githubber.id}}"
                text="{{githubber.quote}}"></feed-story>
  </span>

  <div class="more-button-wrapper">
    <button ng-click="loadNextTen()" type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <i class="material-icons">add</i> See more
    </button>
  </div>

</div>
