<div class="mdl-layout__tab-panel is-active" id="feed" ng-controller="MainCtrl">

  <section ng-repeat="post in $storage.posts"
           class="feed-card section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header
      class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <img class="avatar" src="images/jon.jpeg"/>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{post.author.name}}</h4>
        {{post.text}}
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button"><i class="material-icons">thumb_up</i></a>
        <a href="#" class="mdl-button"><i class="material-icons">comment</i></a>
        <a href="#" class="mdl-button" id="share{{post.id}}"><i class="material-icons">share</i></a>

        <div class="mdl-tooltip mdl-tooltip--large" for="share{{post.id}}">Print</div>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{post.id}}">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{post.id}}">
      <li class="mdl-menu__item">Lorem</li>
      <li class="mdl-menu__item" disabled>Ipsum</li>
      <li class="mdl-menu__item">Dolor</li>
    </ul>
  </section>

  <section ng-repeat="githubber in $storage.githubbers"
           class="feed-card section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header
      class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <img class="avatar" ng-src="{{githubber.avatar_url}}"/>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{githubber.login}}</h4>
        {{githubber.quote}}
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button"><i class="material-icons">thumb_up</i></a>
        <a href="#" class="mdl-button"><i class="material-icons">comment</i></a>
        <a href="#" class="mdl-button" id="share{{githubber.id}}"><i class="material-icons">share</i></a>

        <div class="mdl-tooltip mdl-tooltip--large" for="share{{githubber.id}}">Print</div>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{githubber.id}}">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{githubber.id}}">
      <li class="mdl-menu__item">Lorem</li>
      <li class="mdl-menu__item" disabled>Ipsum</li>
      <li class="mdl-menu__item">Dolor</li>
    </ul>
  </section>

  <div class="more-button-wrapper">
    <button ng-click="loadNextTen()" type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <i class="material-icons">add</i> Load more
    </button>
  </div>

</div>
